<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="CredentialsFile" value="Keep.dat" />
    <add key="EncryptionKey" value="ymYZmwBV22X8wdk5ooUlRZBHa6PfGaLcX1FWhmjOZSA+QholXzAAz8TboR2vyiknUYKTbN32yx92MIMy30ocG9oThnW24V8dvAMAVVQicC3yaR/ZipkFzFx31Ztj0Qy7" />
    <add key="AuthenticationKey" value="Lkjqj8sO+bevmSrQn5E8vWHxvFFr7m39WDQx8pDIS9QuSEvF6a31GlrBZi+bX/0ux1k/juD6Pv0T1dLMT7k4b387V5AhmvuQs1lbcSoVWvmxjOCy8jCsCMntdcvmgDfS" />
    <add key="config_encryption_algo" value="AES256"/>
    <add key="credentials_encryption_algo" value="AES128"/>
  </appSettings>
</configuration>