<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="CredentialsFile" value="Keep.dat" />
    <add key="EncryptionKey" value="" />
    <add key="AuthenticationKey" value="" />
    <add key="config_encryption_algo" value="AES256"/>
    <add key="credentials_encryption_algo" value="AES256"/>
  </appSettings>
</configuration>