@page
@model PasswordKeeper.Web.Pages.ViewCredentialsModel
@{
    ViewData["Title"] = "Get All passwords";
}


<div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
    <span class="sr-only">Loading...</span>
</div>

<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="customSwitch1">
    <label class="custom-control-label" for="customSwitch1"> Show Credentials </label>
</div>
<br>
<form method="post">
    <div class="container-fluid">
        <input type="text" asp-for="Filter" placeholder="search your credentials .." aria-label="Add your item here...">
        @*<button asp-page-handler="Filter" class="btn btn-secondary">search</button>
            <button asp-page-handler="Filter" class="btn btn-outline-danger">Reset</button>*@
        <button asp-page-handler="" class="btn btn-secondary">search</button>
        <button asp-page-handler="" class="btn btn-outline-danger" onclick="">Reset</button>
    </div>
</form>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th class="d-none" scope="col">Username</th>
            <th class="d-none" scope="col">Passkey</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cr in Model.Credentials)
        {
            String username = cr.UserName;
            String pwd = cr.Pwd;

            <tr>
                <td>@cr.id</td>
                <td>@cr.Description</td>
                <td class="d-none">@cr.UserName</td>
                <td class="d-none">@cr.Pwd</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Copy options
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item copy_option" onclick="copythat('@username')" href="#">Username</a>
                            <a class="dropdown-item copy_option" onclick="copythat('@pwd')" href="#">password</a>
                        </div>
                    </div>


                </td>
            </tr>
        }
    </tbody>
</table>

